@page
@using Microsoft.AspNetCore.Identity
@using Metcom.CardPay3.Infrastructure.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model Metcom.CardPay3.WebApplication.Pages.IndexModel
@{
    ViewData["Title"] = "Зарплатный проект";
}

@if (SignInManager.IsSignedIn(User))
{
    <section>
        <div class="card-deck">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Список сотрудников</h5>
                    <p class="card-text">Управления списком сотрудников организации</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a asp-area="Employe" asp-page="/Employe/Index" class="btn btn-primary">Переход</a>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Платежи</h5>
                    <p class="card-text">Управление опирациями платежей организации</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a asp-area="Accrual" asp-page="/Accrual/Index" class="btn btn-primary">Переход</a>
                    @await Component.InvokeAsync("Accrual", User.Identity.Name)
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Интеграция с 1С</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#" class="btn btn-primary">Переход</a>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section>
        <div class="card-deck">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Список сотрудников</h5>
                    <p class="card-text">Управления списком сотрудников организации</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Регистрация</a>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Платежи</h5>
                    <p class="card-text">Управление опирациями платежей организации</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Регистрация</a>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Интеграция с 1С</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Регистрация</a>
                </div>
            </div>
        </div>
    </section>
}

