@model AccrualComponentViewModel

@{
    ViewData["Title"] = "My Basket";
}

<a asp-page="/Accrual/Index">
    <div>
        <img src="..." />
    </div>
    <span class="badge badge-secondary">
        @Model.AccrualDay
    </span>
</a>
